{%extends 'index.html'%} {%block content%}
{%load static%}
<main id="main">
  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <button
          class="btn btn-primary category-button mb-3"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasScrolling"
          aria-controls="offcanvasScrolling"
        >
          Show Categories
        </button>
      
        <ol>
          <li><a href="{%url 'index'%}">Home</a></li>
          <li><a href="{%url 'allProducts'%}">Product</a></li>
          <li>{{product.name}}</li>
        </ol>
      </div>
    </div>
    <div
      class="offcanvas offcanvas-start"
      data-bs-scroll="true"
      data-bs-backdrop="false"
      tabindex="-1"
      id="offcanvasScrolling"
      aria-labelledby="offcanvasScrollingLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">
          All Categories
        </h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div>
          <ul class="show-all-categories">
              <li><a href="#" class="active"><i class="bi bi-bandaid"></i> Category 1</a></li>
              <li><a href="#"><i class="bi bi-bandaid"></i> Category 2</a></li>
              <li><a href="#"><i class="bi bi-bandaid"></i> Category 3</a></li>
              <li><a href="#"><i class="bi bi-bandaid"></i> Category 4</a></li>
              <li><a href="#"><i class="bi bi-bandaid"></i> Category 5</a></li>
              <li><a href="#"><i class="bi bi-bandaid"></i> Category 6</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs Section -->

  <section class="inner-page">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-sm-12 d-flex flex-column">
                  <figure>
                    {% if product.picture_set %}
                      {%for picture in product.picture_set.all|slice:":1"%}
                      <img src="{{picture.picture.url}}" class="img-fluid main-image-product" style="max-width: 23rem;">
                      {%endfor%}
                    {%endif%}
                  </figure>
                  <figure class="d-flex product-sub-images">
                    {% if product.picture_set %}
                    {%for picture in product.picture_set.all%}
                    <a><img src="{{picture.picture.url}}" class="img-fluid border"></a>
                    {%endfor%}
                    {%endif%}
                  </figure>
                </div>

                <div class="col-lg-6 col-sm-12 d-flex flex-column">
                    <h1>{{product.name}} </h1>
                    <p><del>{{product.original_price}}</del> <span class="current-price">{{product.discounted_price}}</span</p>
                    <p>{{product.short_description}}</p>
                    <div class="d-flex mb-3">
                        <a href =" https://wa.me/91948447?text=I'm%20interested%20in%20your%20car%20product%20to buy" target="_blank" class="btn btn-primary" style="background-color: #25D366; border:none"> <i class="bi bi-whatsapp"></i> Whatsapp to Buy</a> <a href="tel:+919374636373" class="btn btn-primary ms-3"><i class="bi bi-telephone"></i> Call to Buy</a>
                    </div>
                    <ul class="nav nav-tabs" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link active"
                            id="ex1-tab-1"
                            data-mdb-toggle="tab"
                            href="#"
                            role="tab"
                            aria-controls="ex1-tabs-1"
                            aria-selected="true"
                            >Description</a
                          >
                        </li>
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link"
                            id="ex1-tab-2"
                            data-mdb-toggle="tab"
                            href="#"
                            role="tab"
                            aria-controls="ex1-tabs-2"
                            aria-selected="false"
                            >Additional Inforamtion</a
                          >
                        </li>
                      </ul>
                      <!-- Tabs navs -->
                      
                      <!-- Tabs content -->
                      <div class="tab-content mt-3" id="ex1-content">
                        <div
                          class="tab-pane fade show active"
                          id="ex1-tabs-1"
                          role="tabpanel"
                          aria-labelledby="ex1-tab-1"
                        >
                         {{product.description|safe}}
                        </div>
                        <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                          {{product.additionalInformation|safe}}
                        </div>
                      </div>
                      <!-- Tabs content -->
                </div>
          </div>
      </div>
  </section>
  {%if product.faq_set%}
  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
      </div>

      <div class="faq-list">
        <ul>
          {%for faq in product.faq_set.all%}
          {%if forloop.first%}
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
              data-bs-target="#faq-list-{{forloop.counter}}">{{faq.question}} <i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-{{forloop.counter}}" class="collapse show" data-bs-parent=".faq-list">
              <p>
               {{faq.answer}}
              </p>
            </div>
          </li>   
          {%else%}
          <li data-aos="fade-up" data-aos-delay="{{forloop.counter}}00">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-{{forloop.counter}}"
              class="collapsed">{{faq.question}} <i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-{{forloop.counter}}" class="collapse" data-bs-parent=".faq-list">
              <p>
                {{faq.answer}}
              </p>
            </div>
          </li>
          {%endif%}
          {%endfor%}  
        </ul>
      </div>

    </div>
  </section>
  {%endif%}
</main>
<!-- End #main -->

<script>
    function toggleActiveDec(event)
    {
        
        if (!event.target.classList.contains('active')){
            
            event.target.classList.toggle('active');
            additionalButton.classList.toggle('active');
            addEle.classList.toggle('active');
            addEle.classList.toggle('show');
            desEle.classList.toggle('active');
            desEle.classList.toggle('show');
            
        }
    }

    function toggleDecAct(event)
    {
        if (!event.target.classList.contains('active')){
            event.target.classList.toggle('active');
            desButton.classList.toggle('active');
            desEle.classList.toggle('active');
            desEle.classList.toggle('show');
            addEle.classList.toggle('active');
            addEle.classList.toggle('show');
            
        }
    }

    let desButton = document.querySelector('#ex1-tab-1');
    let additionalButton = document.querySelector('#ex1-tab-2');

    let desEle = document.querySelector('#ex1-tabs-1');
    let addEle = document.querySelector('#ex1-tabs-2');

    desButton.addEventListener('click', toggleActiveDec)
    additionalButton.addEventListener('click', toggleDecAct)

    let imgButtonArr = document.querySelectorAll('.product-sub-images img')
    let mainImage = document.querySelector('.main-image-product');
    function changeImage(event)
    {
        mainImage.src= event.target.src;
    }

    for (let i = 0; i < imgButtonArr.length; i++) {
        imgButtonArr[i].addEventListener('mouseover', changeImage);    
    }

</script>
{%endblock%}

